.about__container {
  background-color: black;
  padding: 7vw;
  .firts__about {
    display: flex;
    img {
      width: 40%;
    }
    .title-firts-about {
      padding: 2vw;
      margin-left: 5vw;
      width: 50%;
      h2 {
        font-family: "Teko", sans-serif;
        color: white;
        font-size: 3vw;
        text-transform: uppercase;
      }
      p {
        font-family: "Poppins", sans-serif;
        color: gray;
        font-size: 1.1vw;
      }
    }
    .skills-entrenamiento {
      color: white;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      margin-top: 2.5vw;
      h3 {
        font-family: "Teko", sans-serif;
        font-size: 1.8vw;
      }
    }
  }
}

.subabout_container {
  background-color: black;
  font-family: "Poppins", sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  .sub-img-about {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 5vw;
    .text-about {
      width: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 4vw;
      color: gray;
      background-color: black;
    }
    img {
      width: 30%;
    }
  }
}
