.footer {
  background-color: $colorBgFooter;
  padding: 30px 50px;
  font-family: "Poppins", sans-serif;
  @media (max-width: 768px) {
    padding: 30px;
  }
  .container__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 24px;
    }
    @media (min-width: 769px) and (max-width: 900px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .data__footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      h4 {
        font-family: "Teko", sans-serif;
        font-size: 24px;
        font-weight: 500;
        color: $colorTitleFooter;
        text-transform: uppercase;
      }
      p {
        color: $colorTextFooter;
        font-size: 16px;
        line-height: 24px;
        @media (max-width: 768px) {
          line-height: 24px;
        }
      }
      .phone {
        color: $colorMain;
        font-size: 20px;
      }
    }
    .nav__footer {
      display: flex;
      align-items: center;
      @media (min-width: 769px) and (max-width: 900px) {
        justify-content: center;
      }
      .footer__links {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media (max-width: 768px) {
          align-items: center;
        }
        @media (min-width: 769px) and (max-width: 900px) {
          align-items: center;
        }
        .links__footer {
          text-decoration: none;
          font-size: 16px;
          color: $colorTitleFooter;
          &:hover {
            color: $colorMain;
          }
        }
      }
    }
    .redes__footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (min-width: 769px) and (max-width: 900px) {
        align-items: center;
        margin-bottom: 44px;
      }
      h4 {
        font-family: "Teko", sans-serif;
        font-size: 24px;
        font-weight: 500;
        color: $colorTitleFooter;
        text-transform: uppercase;
        @media (max-width: 768px) {
          text-align: center;
        }
      }
      .icons__redes {
        text-align: center;
        color: #da1d25;
        a {
          margin: 8px;
          color: $colorTextTwo;
          font-size: 22px;
          &:hover {
            color: $colorMain;
          }
          @media (max-width: 768px) {
            margin: 10px;
          }
        }
      }
    }
  }
  .separador {
    border-top: 0.1vw solid rgb(139, 139, 139);
    margin-top: 18px;
  }
  .copy__name {
    color: $colorTextFooter;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    span {
      color: $colorMain;
    }
  }
}
