.price__description {
  padding: 2vw 10vw;
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.8vw;
  margin-top: -3vw;
  p {
    font-size: 1.2vw;
    color: #959595;
    line-height: 1.5vw;
    font-family: "Poppins", sans-serif;
    span {
      color: $colorMain;
    }
  }
}
